* {
    padding: 0;
    margin: 0;
}
/* body {
    background: white;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    font-family: Montserrat;
} */
#wrapper {
    background: whitesmoke ;
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-direction: column;
}
#sidebar {
    width: 33%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

#content {
    width: 66.5%;
}

.hidden {
    height: 0;
}

.my-photo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 30px;
}

.contacts-container {
    margin-top: 60px;
    margin-left: 40px;
    margin-right: 40px;
}

.contacts-title {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(58, 56, 56)

}

.title {
    color: rgb(141, 119, 119);
    font-size: 20px;
}

.words-style {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(58, 56, 56)
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(58, 56, 56);
    margin-right: 10px;

}

.dot-type{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: grey;
    margin-left: 45px;
}

#services {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 50px;
    margin-left: 50px;
}
.types-of-services{
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 550;
}

.consultation {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.about-me {
    padding-left: 90px;
    scroll-padding-right: 90px;
    padding-top: 50px;
}

#request-button {
    background-color: rgb(141, 119, 119);
    color: rgb(250, 248, 245);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 5px;
    border-width: 0;
    border-radius: 0.5rem;
    margin-left: 70px;
}
#request-button:focus {
    outline: none;
}
#button-style {
    padding-top: 15px;
    padding-left: 10px;
}
#request-form {
    height: 0;
    opacity: 0;
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;  
    transition: all 1s;  
}
.tagForTitles {
    color: rgb(141, 119, 119);
    padding-left: 35px;
    font-size: 20px;
}

#quotes {
    font-style: italic;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 60px;
    margin-right: 0;
    margin-left: 50px;
    font-size: 11px;
}

#myBackground {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* max-width: 700px; */
    margin-top: 50px;
    margin-left: 50px;
}

#typeBackround {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 550;
    overflow: hidden;
    margin-top: 25px;
}

#insideServices {
    overflow: hidden;
    margin-top: 25px;
}


.allSections {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 550;
    overflow: hidden;
    margin-top: 15px;
}

.typeLS {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 550;
    padding-top: 50px;
}

#legalSection {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    /* max-width: 500px; */
    margin-top: 50px;
    margin-left: 50px;
}

#clarification {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 550;
    padding-left: 25px;
}
#typeLegalSection {
    margin-top: 25px;
    overflow: hidden;
}

.comment {
    color: rgb(92, 84, 84);
    font-size: 20px;
    padding-top: 5px;
}

@media (min-width: 960px) {
    #sidebar {
        position: fixed;
        width: 33.5%;
        padding-top: 40px;
        padding-bottom: 40px;
        display: flex;
        flex-direction: column;

    }
    .my-photo {
        width: 60.5%;
        height: auto;
        object-fit: unset;
        border-radius: unset;
        margin: 0 auto;
        display: block;
    }
    #content {
        padding-left: 33.5%;
        padding-right: 2%;
    }
    #wrapper {
        background: whitesmoke ;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row;
    }
    .title {
        color: rgb(141, 119, 119);
        font-size: 48px;
    }
    #quotes {
        font-style: italic;
        display: flex;
        flex-direction: row-reverse;
        margin-top: 60px;
        margin-right: 0;
        margin-left: 50px;
        font-size: 18px;
    }
    .tagForTitles {
        color: rgb(141, 119, 119);
        padding-left: 35px;
        font-size: 40px;
    }

}