* {
    padding: 0;
    margin: 0;
}
body {
    /* width: 100%; */
}
#wrapper {
    background: whitesmoke ;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
#sidebar {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
}

#content {
    padding-right: 2%;
}

.hidden {
    height: 0;
}

.my-photo{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 60px;
}

.contacts-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(58, 56, 56)

}

.title {
    color: rgb(141, 119, 119);
    font-size: 30px;
    margin-left: 12px;
}



.words-style {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(58, 56, 56)
}
.contacts-link-type {
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: rgb(58, 56, 56);
    margin-right: 10px;

}

.dot-type{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: grey;
    margin-left: 45px;
}

#services {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 30px;
    margin-left: 15px;
}
.types-of-services{
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 550;
}

.consultation {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.about-me {
    padding-left: 20px;
    scroll-padding-right: 90px;
    padding-top: 15px;
}

#request-button {
    background-color: rgb(141, 119, 119);
    color: rgb(250, 248, 245);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 5px;
    border-width: 0;
    border-radius: 0.5rem;
    margin-left: 70px;
}
#request-button:focus {
    outline: none;
}
#button-style {
    padding-top: 15px;
    margin-right: 60px;
}
#request-form {
    height: 0;
    opacity: 0;
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;  
    transition: all 1s;  
}
.tagForTitles {
    color: rgb(141, 119, 119);
    padding-left: 35px;
    font-size: 30px;
    text-decoration: none;
    cursor: pointer;
}

#quotes {
    font-style: italic;
    margin-top: 30px;
    margin-left: 120px;
    font-size: 15px;
    width: 250px;
}

#myBackground {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 15px;
}

#typeBackround {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 450;
    overflow: hidden;
    margin-top: 25px;
}

#insideServices {
    overflow: hidden;
    margin-top: 25px;
}


.allSections {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 550;
    overflow: hidden;
    margin-top: 15px;
}

.typeLS {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 450;
    padding-top: 50px;
    padding-left: 0px;
}

#legalSection {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

#tagForLegalSection {
    margin-top: 50px;
    margin-left: 15px;
}
#clarification {
    color: rgb(92, 84, 84);
    font-size: 20px;
    font-weight: 450;
    padding-left: 25px;
}
#typeLegalSection {
    margin-top: 25px;
    overflow: hidden;
}

.comment {
    color: rgb(92, 84, 84);
    font-size: 20px;
    padding-top: 5px;
}

@media (min-width: 960px) {
    #sidebar {
        position: fixed;
        width: 33.5%;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: unset;
        display: flex;
        flex-direction: column;
    }
    .contacts-container {
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .my-photo {
        width: 60.5%;
        height: auto;
        object-fit: unset;
        border-radius: unset;
        margin: 0 auto;
        display: block;
    }
    #content {
        padding-left: 33.5%;
        padding-right: 2%;
    }
    #wrapper {
        background: whitesmoke ;
        display: flex;
        max-width: 1200px;
        margin: 0 auto;
        flex-direction: row;
    }

    .title {
        color: rgb(141, 119, 119);
        font-size: 48px;
    }
    #services {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 50px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    #myBackground {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-left: 50px;
        margin-bottom: 20px;
    }
    .about-me {
        padding-left: 90px;
        scroll-padding-right: 90px;
        padding-top: 50px;
    }
    #quotes {
        font-style: italic;
        display: flex;
        flex-direction: row-reverse;
        width: 350px;
        margin-left: 400px;
        margin-right: 20px;
        margin-top: 50px;
        font-size: 18px;
    }
    .tagForTitles {
        color: rgb(141, 119, 119);
        padding-left: 35px;
        font-size: 40px;
        text-decoration: none;
        cursor: pointer;
    }
    #legalSection {
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .types-of-services{
        color: rgb(92, 84, 84);
        font-size: 20px;
        font-weight: 550;
    }
    #clarification {
        color: rgb(92, 84, 84);
        font-size: 20px;
        font-weight: 550;
        padding-left: 25px;
    }
    #typeBackround {
        color: rgb(92, 84, 84);
        font-size: 20px;
        font-weight: 550;
        overflow: hidden;
        margin-top: 25px;
    }
    .typeLS {
        color: rgb(92, 84, 84);
        font-size: 20px;
        font-weight: 550;
        padding-top: 50px;
    }
    #tagForLegalSection {
        margin-top: 50px;
        margin-left: 50px;
    }
    .allSections {
        color: rgb(92, 84, 84);
        font-size: 20px;
        font-weight: 550;
        overflow: hidden;
        margin-top: 15px;
    }
    #button-style {
        padding-top: 15px;
        padding-left: 10px;
    }
    

}