* {
    padding: 0;
    margin: 0;
}
body {
    /* width: 100%; */
}
#wrapper {
    background: whitesmoke ;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
}
#sidebar {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    align-items: center;
}

#content {
    padding-right: 2%;
}

.hidden {
    overflow: hidden;
    height: 0;
    opacity: 0;
}

.my-photo{
    content: url('/img/avatar-mobile.jpg');
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 60px;
}

.contacts-title {
    font-size: 20px;
    line-height: 24px;
    color: rgb(58, 56, 56)

}

.title {
    color: rgb(141, 119, 119);
    font-size: 30px;
    margin-left: 12px;
}

.words-style {
    font-size: 13.9px;
    line-height: 24px;
    color: rgb(58, 56, 56);
}
.contacts-link-type {
    font-size: 14px;
    line-height: 24px;
    color: rgb(58, 56, 56);
    margin-right: 10px;
}
li {
    line-height: 26px;
    margin-left: 45px;
    color: rgb(92, 84, 84);
    font-size: 20px;
}
.consultation {
    line-height: 24px;
}
.about-me {
    padding-left: 20px;
    scroll-padding-right: 90px;
    padding-top: 15px;
}
#request-button {
    background-color: rgb(141, 119, 119);
    color: rgb(250, 248, 245);
    font-weight: bold;
    font-size: 1.3rem;
    padding: 5px;
    border-width: 0;
    border-radius: 0.5rem;
    margin-left: 70px;
    cursor: pointer;
}
#request-button:focus {
    outline: none;
}
#button-style {
    padding-top: 15px;
    margin-right: 60px;
}
#request-form {
    height: 0;
    opacity: 0;
    width: 100%;
    border: 0;
    margin: 0;
}
.animate {
    -moz-transition: all 1s; 
    -webkit-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;  
    transition: all 1s;
}
.section {
    color: rgb(92, 84, 84);
    font-size: 20px;
    line-height: 24px;
    margin: 20px 0 20px 15px;
}
.sectionTitle {
    color: rgb(141, 119, 119);
    padding-left: 35px;
    font-size: 25px;
    text-decoration: none;
    cursor: pointer;
}
.sectionBody {
    margin-top: 25px;
}
#quote {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
#quote div {
    font-style: italic;
    font-size: 15px;
    max-width: 350px;
    margin: 20px 0 0 50px;
}
.allSections {
    font-size: 20px;
    overflow: hidden;
    margin-top: 15px;
}
#clarification {
    font-size: 20px;
}
.comment {
    font-size: 20px;
    padding-top: 5px;
}
.PPdescription {
    font-size: 20px;
    padding-top: 25px;
    color: rgb(92, 84, 84);
}
.PrivacyPolicy {
    padding-top: 30px;
    flex-direction: column !important;
    padding: 20px;
}

#tagForprivacyPolicy{
    color: rgb(141, 119, 119);
    padding-left: 35px;
    font-size: 16px;
    padding-left: 80px;
    padding-bottom: 50px;
    display: block;
    text-decoration: none;
    cursor: pointer;
}


@media (min-width: 960px) {
    #sidebar {
        position: fixed;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: unset;
        display: flex;
        flex-direction: column;
    }
    .contacts-container {
        margin-top: 60px;
        margin-left: 40px;
        margin-right: 40px;
    }
    .words-style {
        font-size: 17px;
    }
    .my-photo {
        width: 60.5%;
        content: url('/img/avatar.jpg');
        height: auto;
        object-fit: unset;
        border-radius: unset;
        margin: 0 auto;
        display: block;
    }
    #content {
        padding-left: 33.5%;
    }
    #wrapper {
        max-width: 1200px;
        flex-direction: row;
    }
    .title {
        font-size: 48px;
    }
    .section {
        font-size: 20px;
        margin-left: 50px;
    }
    .sectionTitle {
        font-size: 30px;
    }
    .about-me {
        padding-left: 90px;
        padding-top: 50px;
    }
    #quote div {
        font-size: 18px;
    }
    #button-style {
        padding-left: 10px;
    }
}